*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url(https://thumbs.dreamstime.com/b/blur-gym-background-fitness-center-health-club-blurry-sports-exercise-equipment-aerobic-workout-bodybuilding-blur-200041877.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-links{
    
    list-style-type: none;
    display: none;
    background-color: rgb(72, 47, 154);

}
.nav-links a{
    display:block;
    padding: 10px;
    background:#1b001b;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.nav-links a:hover{
    text-decoration: firebrick;

}
.social-icons :hover{
    color: #020100;
    
        transform: translateY(-10%);
}
.social-icons{
    display:block;
}

.nav-container{
    padding: 0 0px;
    background: rgba(3, 3, 3, 0.8);
    display: flex;
    justify-content: space-between;/*for wider space*/

}
.nav-container img{
    width: 100px;
   align-self: center;/*it's not stretch*/
}
.line1, .line2, .line3{
    width: 30px;
    height: 4px;
    margin: 5px;
    background: #ffe7ff;
    /*Effect of bars*/
    transition: transform 2s ease, opacity 2s ease;/*transform and opacity property*/

}
.btn{
    padding:2px;
    display: inline-block;
    cursor: pointer;
    align-self: center;
}
.change .line1{ /*effect after applying jquery*/
    transform: rotate(-45deg) translate(-7px, 6px);
}
.change .line2{
    opacity:0;
}
.change .line3{
    transform: rotate(45deg) translate(-7px, -8px);
}
/*---Header----*/
header{
    min-height: 100vh;
    background:linear-gradient(rgb(11 211 82 / 80%), rgb(204 15 15 / 30%)),
    url(images/hero2.jpg)center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
}

nav{
    flex: 0 0 auto;
}
nav ul li:last-of-type {/*for icons*/
    display: flex;
}
nav ul li:last-of-type a{
    display: flex;
    flex: 1 0 auto;
    text-align-last: center;

}

h1 strong:hover{
color: royalblue;
}
.fab{
    font-size: 30px;
}
.nav-links .social-icons a:hover{
    text-decoration: none;
    color: red;
}

.nav-links li a:hover{
    text-decoration: none;
    font-size: larger;
    
    color: rgb(15, 2, 2);
    background-color: white;
}

.nav-links li a{
    text-decoration: none;
    color: rgb(214, 235, 21);
    background-color: rgb(10, 59, 196);
    border-radius: 2px;
}

/*For nav transparency and shade*/
nav{
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background 2s ease;
}
.navBackground{
    background:rgba(34,0,40,0.8);
}
/*================Hero Image===========*/

.main-title{
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text{
    flex: 0 0 90%;
    text-align: center;
    padding: 100px 0;
}

.main-text h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;

}
.main-text p{
    font-weight: lighter;
    margin-left: 30px;
    color: white;
}
.main-btn{
    text-transform: uppercase;
    color: #f5f5f5;
    letter-spacing:5px;
    border: 3px solid #f5f5f5;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px;

}
.main-btn:hover{
    background:#140117;
    color:#f5f5f5;

}
@media screen and (min-width: 992px){
    .btn{
        display: none;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav-container{
        background:transparent;
        flex:0 0 auto;/*container is child of the nav*/
    }
    .nav-links{
        padding: 0 20px;
        flex: 1 0 auto;/*flex child*/
        display: flex!important;
        justify-content: flex-start;
        flex-wrap: wrap;
        /*align-self: center;*/
    }
    .nav-links li{
        flex: 1 0 auto;
        /*text-align: center;*/
    }
    .nav-links a{
        background: transparent;
        text-align: center;
        color: #f5f5f5;
    }
    .social-icons{
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: space-around;
        list-style-type: none;
        padding:0 20px;
    }
    .social-icons{
        font-size: 40px;
    }
    .social-icons a:hover{
        color: #e700e7;
        transform: translateY(-10%);
        }
}
/*=========About Section======*/
/*section{padding: 80px 0;}*/
.section-center{width: 80vw;
    padding: 4rem 0;
    width: 80vw;
    margin: 0 auto;
max-width: 1170px;}
.about{background:url(https://img.freepik.com/free-photo/abstract-blur-fitness-gym-equipment-background_74190-1922.jpg?w=2000)}
.about-img{/*width: 100%;display: block;height: 520px;
width: 480px;*/ width: 300px;
border-radius: 50%;}
.about-img, .about-info{margin-bottom: 64px;}
.about-info h2{text-transform: uppercase;}
.abt-text{margin-bottom: 20px;line-height:2;
font-weight: 300;}
.about-btn{text-transform: uppercase;color: #1b001b;
letter-spacing: 4px; border: 3px solid #1b001b;
 display: inline-block;cursor: pointer;
text-decoration: none; margin-top: 10px; padding: 0.9rem 1.6rem;}
.about-btn:hover{background:#120115;color:#f5f5f5; }

@media screen and (min-width: 992px){.about-center{display: flex;
justify-content: space-between;}
.about-img, .about-info{flex: 0 0 calc(50% - 32px);
margin-bottom: 0; align-self: center;}
}

/*=======End of About Section===========*/
/*-------===========Work out Section=======*/

#workout{
  background:url(https://w0.peakpx.com/wallpaper/421/437/HD-wallpaper-plain-purple-background-purple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}
#workout .title{
  font-size:60px;
  text-transform: capitalize;
  color: #f5f5f5;
  text-align: center;
  margin: 25px 0 20px 0;
}
.service{
  text-align: center;
  margin: 20px 0;
  color: #f5f5f5;
}
.service .fas{
  padding: 20px;
  font-size: 50px;
  cursor:pointer;
}
.service h3{
  margin: 10px 0 15 px 0;
  text-transform: capitalize;
  font-size: 30px;
}
.service p{
  line-height: 1.5;
  width: 75%;
  margin: 10px auto;
  font-weight: lighter;
}
@media screen and (min-width: 576px){.work-center{max-width: 90vw;margin: 0 auto;
display: flex;flex-wrap: wrap;justify-content: space-between;}
.service{
  flex: 0 0 calc(50% - 1em);
 }
}
@media screen and (min-width: 776px){.service{flex: 0 0 calc(25% - 1em);}}
/*---====================End of Work out section=====*/
/*--===========Testimonial =============*/

#testimonial{padding: 40px; background: url(https://png.pngtree.com/background/20211217/original/pngtree-plain-aesthetic-background-with-cool-wallpaper-picture-image_1596982.jpg);
background-repeat: no-repeat; background-size: cover;}
#testimonial .title{font-size: 60px;text-transform: capitalize;color:#1b001b;
text-align: center; margin: 25px 0 20px 0;}
.testimonial{color: #1b001b;text-align: center; margin: 20px 0;}
.testimonial img{border-radius: 50%; max-width: 200px;}
.testimonial h3{ margin: 10px 0; text-transform: uppercase;color:#1b001b;}
.testimonial p{line-height: 1.5; width: 75%; margin: 10px auto;
font-weight: lighter;}
/* Responsive*/
@media screen and (min-width: 576px){.client-center{display: flex; flex-wrap: wrap;
 justify-content: space-between;} .testimonial{flex: 0 0 calc(35% - 3em);}}
/*============End of testimonial==========*/
/*============Our Classes Section===========*/

#classes{
    background: url();
    padding: 40px; background-repeat: no-repeat; background-size: cover;}
#classes .title{font-size: 60px;text-transform: capitalize;
color:#ffffff;;text-align: center; margin: 25px 0 20px 0;}
.classes-container{max-width: 90vw;margin: 0 auto;}
.class-item{background-color:#040007;color: #f2f3f8;;margin: 20px 0;}
#classes img{width: 100%;display: block;}
.img-container{position: relative;}
.class-item h4{margin-top: 10px;margin-left: 180px;}
/*Responsive*/
@media screen and (min-width:576px){.classes-container{display: grid;
 grid-template-columns: repeat(2, 1fr); grid-column-gap: 1em;
 grid-row-gap: 1em;}}
@media screen and (min-width:992px){.classes-container{display: grid;
grid-template-columns: repeat(3, 1fr);grid-column-gap: 1em;grid-row-gap: 1em;}}
/*End of Classes======*/

#classes{
   background : #00434e;
}
/*=======Footer========*/
footer{
  background-color:#001b0f85;
  padding: 10px;
  display: flex;
  align-items: baseline;
}
.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  color: #ffff;
  margin-bottom: 10px;
}
.terms{
 text-transform: uppercase;
 font-size: 15px;
 color: #ffff;
 margin-bottom: 10px;
 justify-content: space-between;
}
footer {
    background: #061D25;
    padding: 10px 0;
    text-align: center;
  }
  footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  footer a:first-child {
    border-left: 1px solid #70726F;
  }
  footer a:hover {
    color: white;
  }

  .fa{
    margin: 20;
  }

  .text-center{
    align-content: center;
    justify-items: center;
  }
/*end of footer===========*/