{% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- Custom CSS -->

<link rel="stylesheet" href="{% static 'css/mystyle1.css' %}">


<title>Gym Management System</title>

<!-- Start Navigation -->
<nav class="navbar navbar-expand-sm navbar-light navmake ">
  <div class="container">
  <a class="navbar-brand" href="{% url 'admin_home' %}">
      <span style="color : red">Gym Management System</span></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse text-center" id="myMenu">
    <ul class="navbar-nav pl-5 pr-5 custom-nav ml-auto style="padding-top: 2%;
    padding-bottom: 2%; ">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'admin_home' %}" > Home <span class="sr-only">(current)</span></a>
      </li>&nbsp&nbsp&nbsp&nbsp

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Enquiry
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'addEnquiry' %}">Add Enquiry</a>
          <a class="dropdown-item" href="{% url 'viewEnquiry' %}">View Enquiry</a>
        </div>
      </li>&nbsp&nbsp&nbsp&nbsp

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Plan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'addPlan' %}">Add Plan</a>
          <a class="dropdown-item" href="{% url 'viewPlan' %}">View Plan</a>
        </div>
      </li>&nbsp&nbsp&nbsp&nbsp

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'addEquipment' %}">Add Equipment</a>
          <a class="dropdown-item" href="{% url 'viewEquipment' %}">View Equipment</a>
        </div>
      </li>&nbsp&nbsp&nbsp&nbsp

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Member
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'addMember' %}">Add Member</a>
          <a class="dropdown-item" href="{% url 'viewMember' %}">View Member</a>
        </div>
      </li>&nbsp&nbsp&nbsp&nbsp

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Queries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'unread_queries' %}">Unread Queries</a>
          <a class="dropdown-item" href="{% url 'read_queries' %}">Read Queries</a>
        </div>
      </li>&nbsp&nbsp&nbsp&nbsp

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-cog"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'changePassword' %}"><i class="fas fa-exchange-alt"></i> Change Password</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off"></i> Logout</a>
        </div>
      </li>&nbsp&nbsp&nbsp&nbsp

    </ul>
   </div>
   <hr>
 </div>
</nav>

<!-- Data Table -->

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
