{% include 'admin_nav.html' %}
{% load static %}
{% block main %}
 <html lang="en" class="no-focus">
 <head>
 <title>Gym Management System - Admin Dashboard</title>
 <link rel="stylesheet" id="css-main" href="{% static 'css1/codebase.min.css' %}">

<style>
.container1 {
	background-color: lightgrey;
	border-radius: 8px;
}

h2, h4 {
	padding: 10px;
}

.mydiv:hover {
	transform: translateY(-10px)
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
  text-shadow :0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
	0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
	text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px
		#ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
    </head>
    <body style >
    <br><br><br>
            <!-- Page Content -->
                <div class="content">
                    <div class="row gutters-tiny invisible" data-toggle="appear">
                        <!-- Row #1 -->
                        <div class="col-6 col-md-3 col-xl-4">
                            <a class="block text-center" href="{% url 'viewEnquiry' %}">
                                <div class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-dusk">


                                    <div class="ribbon-box">{{en}}</div>
                                    <p class="mt-5">
                                        <i class="fas fa-book-reader fa-3x text-white-op"></i>
                                    </p>
                                    <p class="font-w600 text-white">Total Enquiry</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3 col-xl-4">
                            <a class="block text-center" href="{% url 'viewPlan' %}">
                                <div class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-dusk">


                                    <div class="ribbon-box">{{p}}</div>
                                    <p class="mt-5">
                                        <i class="fas fa-book fa-3x text-white-op"></i>
                                    </p>
                                    <p class="font-w600 text-white">Total Plan</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3 col-xl-4">
                            <a class="block text-center" href="{% url 'viewEquipment' %}">
                                <div class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-sea">


                                    <div class="ribbon-box">{{eq}}</div>
                                    <p class="mt-5">
                                        <i class="fas fa-edit fa-3x text-white-op"></i>
                                    </p>
                                    <p class="font-w600 text-white">Total Equipment</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3 col-xl-4">
                            <a class="block text-center" href="{% url 'viewMember' %}">
                                <div class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-sea">


                                    <div class="ribbon-box">{{m}}</div>
                                    <p class="mt-5">
                                        <i class="fas fa-folder-open fa-3x text-white-op"></i>
                                    </p>
                                    <p class="font-w600 text-white">Total Member</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
<br><br><br>
           {% comment %} <footer class="container mt-5 text-center">
		          <p style="font-size: 30pt; color: red; font-weight: bold">
			          Copyright &copy;
			         <script>
				document.write(new Date().getFullYear());
			</script>
			All Right Reserved <span style="color: brown">|</span><span
				style="color: #006400">This website is made with <i
				class="fas fa-heart icon-heart text-warning"> by </i></span>
				<a class="glow" href="#" target="_blank">Akash Mourya</a></p>
	       </footer> {% endcomment %}
        </div>
        <!-- END Page Container -->

        <!-- Codebase Core JS -->
        <script src="{% static 'js1/core/jquery.min.js' %}"></script>
        <script src="{% static 'js1/core/popper.min.js' %}"></script>
        <script src="{% static 'js1/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'js1/core/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js1/core/jquery.scrollLock.min.js' %}"></script>
        <script src="{% static 'js1/core/jquery.appear.min.js' %}"></script>
        <script src="{% static 'js1/core/jquery.countTo.min.js' %}"></script>
        <script src="{% static 'js1/core/js.cookie.min.js' %}"></script>
        <script src="{% static 'js1/codebase.js' %}"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- Page JS Plugins -->
        <script src="{% static 'js1/plugins/chartjs/Chart.bundle.min.js' %}"></script>

        <!-- Page JS Code -->
        <script src="{% static 'js1/pages/be_pages_dashboard.js' %}"></script>
    </body>
</html>
{% endblock %}