{% load static %}

{% if error == "no" %}
     <script>
	   alert('Your Enquiry has been send, My Team Contact U Soon..');
       window.location=('{% url 'contact' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Contact Page</title>
      <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
   </head>
<body style="background: -webkit-linear-gradient(left, #a445b2, #fa4299);">
<br><br><br>
<section>
 <div class="container py-5">
   <div class="card">
     <div class="card-body">
       <h1 class="font-weight-light text-center py-3">Contact Us</h1>
       <div class="row">
         <div class="col-lg-6 col-md-12 col-sm-12">

          <div class="row pt-3">
            <div class="col-lg-1 offset-1 col-md-2 col-sm-2">
              <span style="font-size: 30px; color: cadetblue"><i class="fas fa-map-marker-alt"></i></span>
            </div>

             <div class="col-lg-10 col-md-9 col-sm-9">
               <h3 class="font-weight-light">Find Us at the office</h3>
               <p>Shantinagar,Ulhasnagar<br>
                 Thane-421003<br>
                 Mumbai, Maharashtra
               </p>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-lg-1 offset-1 col-md-2 col-sm-2">
              <span style="font-size: 30px; color: coral"><i class="fas fa-phone-volume"></i></span>
            </div>

             <div class="col-lg-10 col-md-9 col-sm-9">
               <h3 class="font-weight-light">Give Us a Ring</h3>
               <p>Akash Mourya<br>
                 +91 9022290478<br>
                 Mumbai, Maharashtra
               </p>
            </div>
          </div>

         </div>

         <div class="col-lg-6 col-md-12 col-sm-12">
           <form method="post">
               {% csrf_token %}
             <div class="form-row">
                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <label>Full Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <label>Contact Number</label>
                  <input type="text" name="contact" class="form-control" placeholder="Contact Number" required>
                </div>

                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <label>Email Id</label>
                  <input type="email" name="emailid" class="form-control" placeholder="Email ID" required>
                </div>

                 <div class="form-group col-lg-6 col-md-12 col-sm-12">
                  <label>Subject</label>
                  <input type="text" name="subject" class="form-control" placeholder="Enter Subject" required>
                </div>

                 <div class="form-group col-lg-12 col-md-12 col-sm-12">
                  <label>Message</label>
                  <textarea name="message" class="form-control" placeholder="Message....."></textarea>
                </div>

                 <div class="form-group col-lg-6 col-md-12 col-sm-12">
                   <input type="submit" value="Send" class="form-control btn btn-primary">
                 </div>
                 <div class="form-group col-lg-6 col-md-12 col-sm-12">
                     <a href="{% url 'index' %}" class="form-control btn btn-primary">Back to Home</a>
                 </div>
             </div>
           </form>
         </div>
       </div>

     </div>
   </div>
 </div>
</section>
   </body>
</html>
